In [6]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [12]:
# import data
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

# :: = some movies' title has a comma, so cant separate it with comma
# there is no header in the file, if not choose none, the first movie will be treated as a header.
# engine: make it more efficient
# encoding: some titles contain special char

In [13]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [15]:
users.head()
#1:user id
# 2: user age

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [16]:
ratings.head()
# 0: user id
# 1: movie id
# 2: rating

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [17]:
# Preparing the training set and the test set
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
#we need array for pytorch
training_set = np.array(training_set, dtype = 'int')

test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [20]:
training_set[:10]
# index: 0=user id, 1=movie id, 2=rating

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       [        1,         5,         3, 889751712],
       [        1,         7,         4, 875071561],
       [        1,         8,         1, 875072484],
       [        1,         9,         5, 878543541],
       [        1,        11,         2, 875072262],
       [        1,        13,         5, 875071805],
       [        1,        15,         5, 875071608]])

In [21]:
test_set[:10]

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       [        1,        17,         3, 875073198],
       [        1,        20,         4, 887431883],
       [        1,        23,         4, 875072895],
       [        1,        24,         3, 875071713],
       [        1,        27,         2, 876892946],
       [        1,        31,         3, 875072144],
       [        1,        33,         4, 878542699]])

In [22]:
# find the totalnumber of users and movies
# user ids are in index 0 and movies aree 1
tn_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
tn_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [23]:
tn_users

943

In [24]:
tn_movies

1682